<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../component/pear/css/pear.css" th:href="@{/component/pear/css/pear.css}"/>
    <style>
        .layui-card-body .layui-form .layui-table-box {
            min-height: 380px !important;
        }
    </style>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <input type="hidden" th:value="${obj.id}" name="testPaperId">
            <div class="layui-form-item">
                <label class="layui-form-label">题目标题</label>
                <div class="layui-input-inline">
                    <input type="text" name="subjectTitle" placeholder="请输入" class="layui-input">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="form-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card" style="max-height: 690px; height: 530px;">
    <div class="layui-card-body">
        <table id="data-table" lay-filter="data-table"></table>
    </div>
</div>

<script type="text/html" id="table-toolbar">
    <button class="pear-btn pear-btn-warming pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        修改试题
    </button>
</script>

<script type="text/html" id="typeLabel">
    {{# if(d.type == '0') {}}
    <span>考试卷</span>
    {{# } else if(d.type == '1') {}}
    <span>练习卷</span>
    {{# }}}
</script>

<script src="component/jquery/jquery.min.js" th:src="@{/component/jquery/jquery.min.js}"></script>
<script  th:src="@{/component/layui/layui.js}" src="../../component/layui/layui.js"></script>
<script  th:src="@{/component/pear/pear.js}" src="../../component/pear/pear.js"></script>
<script  th:src="@{/util/util.js}" src="../../util/util.js"></script>
<script  th:src="@{/util/request.js}" src="../../util/request.js"></script>
<script>
    layui.use(['table', 'form', 'jquery', 'drawer', 'dropdown'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        // 该模块的请求路径前缀
        let MODULE_PATH = "/testPaperSubjectReal";
        let tableUrl = MODULE_PATH + '/getListByPage?testPaperId=' + $("input[name='testPaperId']").val();

        // 创建表格中显示的列
        let cols = [
            [
                {
                    title: '所属课程',
                    field: 'courseName',
                    align: 'center',
                    minWidth: 190,
                    templet: '<div>{{d.course.courseName}}</div>'
                },
                {
                    title: '试题标题',
                    field: 'title',
                    align: 'center',
                    minWidth: 150
                },
                {
                    title: '选项1',
                    field: 'optionOne',
                    align: 'center',
                    minWidth: 100
                },
                {
                    title: '选项2',
                    field: 'optionTwo',
                    align: 'center',
                    minWidth: 100
                },
                {
                    title: '选项3',
                    field: 'optionThree',
                    align: 'center',
                    minWidth: 100
                },
                {
                    title: '选项4',
                    field: 'optionFour',
                    align: 'center',
                    minWidth: 100
                },
                {
                    title: '答案(第几选项)',
                    field: 'result',
                    align: 'center',
                    minWidth: 110
                },
                {
                    title: '分值',
                    field: 'score',
                    align: 'center',
                    minWidth: 70
                }
            ]
        ]

        // 创建表格
        table.render({
            elem: '#data-table',
            url: tableUrl,
            page: true,
            limit: 10,
            cols: cols,		// 指定表格中显示的列
            skin: 'line',
            toolbar: "[[${obj.publishStatus}]]" == "0" ? '#table-toolbar' : true,
            minWidth: 80,
            defaultToolbar: [{
                layEvent: 'refresh',
                title: '刷新表格',
                icon: 'layui-icon-refresh',
            }, 'filter']
        });

        // 监听行内操作按钮事件
        table.on('tool(data-table)', function (obj) {
            if (obj.event === 'remove') {
                // 删除
                deleteOne(obj, MODULE_PATH);
            }
        });

        // 控制头部工具条
        table.on('toolbar(data-table)', function (obj) {
            if (obj.event === 'add') {
                // 打开新增弹窗
                toWindow('/system' + MODULE_PATH + '/toEditPage?testPaperId=' + $("input[name='testPaperId']").val(), "新增试卷", "650px", "500px", false, null);
            } else if (obj.event === 'refresh') {
                // 刷新表格数据
                table.reload('data-table');
            }
        });

        // 查询提交事件
        form.on('submit(form-query)', function (data) {
            table.reload('data-table', {
                where: data.field
            })
            return false;
        });
    })
</script>
</body>
</html>
