<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../component/pear/css/pear.css" th:href="@{/component/pear/css/pear.css}"/>
    <style>
    </style>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">留言标题</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" placeholder="请输入" class="layui-input">
                </div>
                <label class="layui-form-label">回复状态</label>
                <div class="layui-input-inline">
                    <select name="replyFlag" id="">
                        <option value="">请选择</option>
                        <option value="0">未回复</option>
                        <option value="1">已回复</option>
                    </select>
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="form-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card" style="max-height: 690px; min-height: 690px">
    <div class="layui-card-body">
        <table id="data-table" lay-filter="data-table"></table>
    </div>
</div>

<script type="text/html" id="table-bar">
    {{# if(d.replyFlag == '0') {}}
    <button class="pear-btn pear-btn-warming pear-btn-sm" lay-event="edit" onmouseenter="showTips(this, '回复')" onmouseleave="closeTips()">
        <i class="layui-icon layui-icon-edit"></i></button>
    {{# }}}
</script>

<script type="text/html" id="replyFlag">
    {{# if(d.replyFlag == '1') {}}
        <span class="layui-font-green">已回复</span>
    {{# } else if(d.replyFlag == '0') {}}
        <span class="layui-font-red">未回复</span>
    {{# }}}
</script>

<script src="component/jquery/jquery.min.js" th:src="@{/component/jquery/jquery.min.js}"></script>
<script  th:src="@{/component/layui/layui.js}" src="../../component/layui/layui.js"></script>
<script  th:src="@{/component/pear/pear.js}" src="../../component/pear/pear.js"></script>
<script  th:src="@{/util/util.js}" src="../../util/util.js"></script>
<script  th:src="@{/util/request.js}" src="../../util/request.js"></script>
<script>
    layui.use(['table', 'form', 'jquery', 'drawer', 'dropdown'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        // 该模块的请求路径前缀
        let MODULE_PATH = "/teacherMessage";
        let tableUrl = MODULE_PATH + '/getListByPage';

        // 创建表格中显示的列
        let cols = [
            [
                {
                    title: '学生姓名',
                    field: 'studentName',
                    align: 'center',
                    minWidth: 150
                },
                {
                    title: '留言标题',
                    field: 'title',
                    align: 'center',
                    minWidth: 180
                },
                {
                    title: '留言内容',
                    field: 'content',
                    align: 'center',
                    minWidth: 180
                },
                {
                    title: '回复内容',
                    field: 'replyContent',
                    align: 'center',
                    minWidth: 180
                },
                {
                    title: '回复状态',
                    field: 'replyFlag',
                    align: 'center',
                    minWidth: 180,
                    templet: '#replyFlag'
                },
                {
                    title: '留言时间',
                    field: 'createDate',
                    align: 'center',
                    minWidth: 170
                },
                {
                    title: '回复时间',
                    field: 'replyDate',
                    align: 'center',
                    minWidth: 170
                },
                {
                    title: '操作',
                    toolbar: '#table-bar',
                    align: 'left',
                    minWidth: 140,
                    fixed: 'right'
                }
            ]
        ]

        // 创建表格
        table.render({
            elem: '#data-table',
            url: tableUrl,
            page: true,
            limit: 10,
            cols: cols,		// 指定表格中显示的列
            skin: 'line',
            toolbar: false,
            minWidth: 80,
            defaultToolbar: [{
                layEvent: 'refresh',
                title: '刷新表格',
                icon: 'layui-icon-refresh',
            }, 'filter']
        });

        // 监听行内操作按钮事件
        table.on('tool(data-table)', function (obj) {
            if (obj.event === 'remove') {
                // 删除
                deleteOne(obj, MODULE_PATH);
            } else if (obj.event === 'edit') {
                // 修改弹窗
                toWindow('/system' + MODULE_PATH + '/toEditPage?id=' + obj.data.id, "回复留言", "450px", "580px", true, null);
            }
        });

        // 控制头部工具条
        table.on('toolbar(data-table)', function (obj) {
            if (obj.event === 'refresh') {
                // 刷新表格数据
                table.reload('data-table');
            }
        });

        // 查询提交事件
        form.on('submit(form-query)', function (data) {
            table.reload('data-table', {
                where: data.field
            })
            return false;
        });
    })
</script>
</body>
</html>
