<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link th:href="@{/component/pear/css/pear.css}" href="../../component/pear/css/pear.css" rel="stylesheet" />
		<link th:href="@{/adminStatic/css/other/error.css}" href="../../adminStatic/css/other/error.css" rel="stylesheet" />
	</head>
	<body>
		<div class="content">
			<img th:src="@{/adminStatic/images/404.svg}" src="../../adminStatic/images/404.svg" alt="">
			<div class="content-r">
				<h1>404</h1>
				<p>抱歉，你访问的页面不存在或仍在开发中</p>
<!--				<button class="pear-btn pear-btn-primary">返回首页</button>-->
			</div>
		</div>
		<script th:src="@{/component/layui/layui.js}" src="../../component/layui/layui.js"></script>
		<script th:src="@{/component/pear/pear.js}" src="../../component/pear/pear.js"></script>
	</body>
</html>
