<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.commons.mapper.CourseMapper">
  <resultMap id="BaseResultMap" type="com.project.commons.model.Course">
    <!--@mbg.generated-->
    <!--@Table course-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, course_name, create_date
  </sql>

  <select id="getCourseInfoBySubjectType" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM course
    WHERE id IN (SELECT DISTINCT course_id FROM subject WHERE category = #{type})
  </select>
</mapper>