<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.commons.mapper.ExaminationVisitMapper">
  <resultMap id="BaseResultMap" type="com.project.commons.model.ExaminationVisit">
    <!--@mbg.generated-->
    <!--@Table examination_visit-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="test_paper_id" jdbcType="INTEGER" property="testPaperId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <association property="user" javaType="com.project.commons.model.User">
      <id column="user_id" jdbcType="INTEGER" property="id" />
      <result column="real_name" jdbcType="VARCHAR" property="realName" />
    </association>
    <association property="testPaper" javaType="com.project.commons.model.TestPaper">
      <id column="test_paper_id" jdbcType="INTEGER" property="id" />
      <result column="full_score" jdbcType="VARCHAR" property="fullScore" />
      <result column="type" jdbcType="VARCHAR" property="type" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, test_paper_id, user_id, title, score, end_date
  </sql>

  <select id="getListByPage" resultMap="BaseResultMap">
    SELECT ev.id, test_paper_id, ev.user_id, ev.title, score, ev.end_date, u.real_name, tp.type, tp.full_score
    FROM examination_visit ev
    INNER JOIN `user` u ON u.id = ev.user_id
    INNER JOIN test_paper tp on ev.test_paper_id = tp.id
    <where>
      <if test="item.userId != null">
        AND ev.user_id = #{item.userId}
      </if>
      <if test="item.title != null and item.title != ''">
        AND ev.title LIKE CONCAT('%', #{item.title}, '%')
      </if>
      <if test="item.user != null">
        <if test="item.user.realName != null and item.user.realName != ''">
          AND u.real_name LIKE CONCAT('%', #{item.user.realName}, '%')
        </if>
      </if>
      <if test="item.testPaper != null">
        <if test="item.testPaper.type != null and item.testPaper.type != ''">
          AND tp.type = #{item.testPaper.type}
        </if>
      </if>
    </where>
    ORDER BY ev.end_date DESC
  </select>
</mapper>