<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.commons.mapper.TestPaperMapper">
  <resultMap id="BaseResultMap" type="com.project.commons.model.TestPaper">
    <!--@mbg.generated-->
    <!--@Table test_paper-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="publish_status" jdbcType="VARCHAR" property="publishStatus" />
    <result column="full_score" jdbcType="INTEGER" property="fullScore" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="subject_count" jdbcType="INTEGER" property="subjectCount" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="start_date" jdbcType="VARCHAR" property="startDate" />
    <result column="end_date" jdbcType="VARCHAR" property="endDate" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, title, `type`, full_score, user_id, subject_count, create_date, publish_status, start_date, end_date, user_type
  </sql>

  <select id="getStudentListByPage" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM test_paper
    WHERE id NOT IN(SELECT test_paper_id FROM examination_visit WHERE user_id = #{studentId})
      <if test="paramObj.publishStatus != null">
        <choose>
          <when test="paramObj.userId != null">
            AND ((publish_status = #{paramObj.publishStatus} AND user_type != '1') OR (user_id = #{paramObj.userId} AND user_type = '1'))
          </when>
          <otherwise>
            AND publish_status = #{paramObj.publishStatus}
          </otherwise>
        </choose>
      </if>
      <if test="paramObj.title != null and paramObj.title != ''">
        AND title LIKE CONCAT('%', #{paramObj.title}, '%')
      </if>
      <if test="paramObj.type != null">
        AND type = #{paramObj.type}
      </if>
    ORDER BY create_date DESC
  </select>
</mapper>