<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.commons.mapper.TestPaperSubjectRealMapper">
  <resultMap id="BaseResultMap" type="com.project.commons.model.TestPaperSubjectReal">
    <!--@mbg.generated-->
    <!--@Table test_paper_subject_real-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="test_paper_id" jdbcType="INTEGER" property="testPaperId" />
    <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="subject_title" jdbcType="VARCHAR" property="subjectTitle" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, test_paper_id, subject_id, title, subject_title
  </sql>
</mapper>