<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.commons.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.project.commons.model.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="student_no" jdbcType="VARCHAR" property="studentNo" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="id_card_num" jdbcType="VARCHAR" property="idCardNum" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="classes" jdbcType="VARCHAR" property="classes" />
    <result column="major" jdbcType="VARCHAR" property="major" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_type, student_no, real_name, user_name, `password`, id_card_num, phone, 
    sex, classes, major
  </sql>
</mapper>