<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>在线考试系统</title>
		<!-- 样 式 文 件 -->
		<link rel="stylesheet" href="../static/component/pear/css/pear.css" th:href="@{/component/pear/css/pear.css}" />
		<link rel="stylesheet" href="../static/adminStatic/css/other/login.css" th:href="@{/adminStatic/css/other/login.css}" />
	</head>
    <!-- 代 码 结 构 -->
	<body style="background-size: cover;">
		<form class="layui-form" action="javascript:void(0);">
			<div class="layui-form-item">
				<img class="logo" src="../static/adminStatic/images/logo.png" th:src="@{/adminStatic/images/logo.png}" />
				<div class="title" style="font-size: 24px !important;">Exam Admin</div>
			</div>
			<div class="layui-form-item">
				<input placeholder="请输入用户名" type="text" name="userName" lay-verify="required" hover class="layui-input" autocomplete="off" />
			</div>
			<div class="layui-form-item">
				<input placeholder="请输入密码" type="password" name="password" lay-verify="required" autocomplete="new-password" hover class="layui-input"  />
			</div>
			<div class="layui-form-item">
				<button type="button" class="pear-btn pear-btn-success login" lay-submit lay-filter="login">
					登 入
				</button>
			</div>
		</form>
		<!-- 资 源 引 入 -->
		<script src="../static/component/jquery/jquery.min.js" th:src="@{/component/jquery/jquery.min.js}"></script>
		<script src="../static/component/layui/layui.js" th:src="@{/component/layui/layui.js}"></script>
		<script src="../static/component/pear/pear.js" th:src="@{/component/pear/pear.js}"></script>
		<script src="../static/component/layer/layer.js" th:src="@{/component/layer/layer.js}"></script>
		<script src="../static/util/request.js" th:src="@{/util/request.js}"></script>
		<script>
			layui.use(['form', 'button', 'popup'], function() {
				var form = layui.form;
				var button = layui.button;
				var popup = layui.popup;
				var $ = layui.jquery;

                // 登 录 提 交
				form.on('submit(login)', function(data) {
					let url = "/login/userLogin"
					/// 调用统一的请求封装，访问登录接口
					sendAjax(url, "POST", $("form").serialize(), false, false, function(res) {
						if(res.code == 0) {
							/// 动画
							button.load({
								elem: '.login',
								time: 1000,
								done: function() {
									popup.success("登录成功", function() {
										location.href = "/system/index?skipUrl=" + res.data.skipUrl
									});
								}
							})
						} else if(res.code != 500) {
							popup.warning(res.msg);
						} else {
							popup.failure(res.msg);
						}
					})
					return false;
				});
			})
		</script>
	</body>
</html>
